<!-- <app-header-admin></app-header-admin>
<div class="cont d-flex flex-row bd-highlight">
  <div class="left bd-highlight">
    <app-sidebar-admin></app-sidebar-admin>
  </div>
  <div class="middle bd-highlight ">
    <a class="a-1 d-flex mt-4" href="#">Revenir à la liste</a>
    <p class="t-1">Mes informations générales</p>
    <form class="" (ngSubmit)="onSubmitInfos(fInfos)" #fInfos='ngForm'>

      <input type="text" class="" id="lastName" name="lastName" placeholder ="Nom *"  required [ngModel]="employe.prenom">
      <input type="text" class="" id="firstName" name="firstName" placeholder ="Prénom *" required [ngModel]="employe.nom">
      <input type="text" class="" id="email" name="email" placeholder="Email" required [ngModel]="employe.email">
      <select class="" name="store" required [ngModel]="employe.store">
        <option value="paris">Paris</option>
        <option value="nice">Nice</option>
        <option value="nice">Nice</option>
      </select>
      <button type="submit" class="btn-2 btn-large me-3" [disabled]="fInfos.invalid">Enregister les modifications</button>
      <!-- <button type="submit" class="btn-1 btn-small" [disabled]="fInfos.invalid">Supprimer le profil</button> -->
    <!-- </form>

  </div>
  <div class="right bd-highlight">
    <p class="t-1">Mon mot de passe</p>
    <form (ngSubmit)="onSubmitPassword(fPassword)" #fPassword='ngForm'>
        <input type="password" class="" id="oldPassword" name="oldPassword" placeholder="Mot de passe actuel" aria-describedby="passwordHelp" ngModel required>
        <input type="password" class="" id="newPassword" name ="newPassword" placeholder="Nouveau mot de passe" ngModel required>
        <input type="password" class="" id="confNewPassword" name ="confNewPassword" placeholder="Confirmation du nouveau mot de passe" ngModel required>
        <p class="" *ngIf="passwordIncorrect">Email ou mot de passe incorrect !  </p>
        <p class="" *ngIf="passwordNotIdenticals">Email ou mot de passe incorrect !  </p>
      <button type="submit" class="btn-2" [disabled]="fPassword.invalid">Enregister</button>
    </form>
  </div>
</div>
<app-footer></app-footer> --> -->
