<div class="filter mt-4 ml-5 mb-5" *ngIf="listUsers">
  <div class="row">
    <div class="col-lg-6 col-12">
      <span class="pa-1 mb-4 mr-3">Filtrer les utilisateur : </span>
      <input class ="col-5" type="text" name="filter" value="" placeholder="serach" [(ngModel)]="filter">
    </div>
    <div class="d-none d-lg-block">
      <span class="pa-1 mb-4 mr-3">Exporter la liste des utilisateur : </span>
      <button class="btn-2" type="button" name="button">Exporter</button>
    </div>
  </div>
</div>
<div class="mt-5 ml-5" *ngIf="listUsers">
  Voici la liste des utilisateurs qui correspondent à votre recherche :
  <table class="table mt-4 w table-borderless table-responsive-lg" *ngIf="users$ | async as users" >
    <thead class="bg-clr-2 clr-1">
      <tr>
        <td scope="col">Prénom</td>
        <td scope="col">Nom</td>
        <td scope="col">Email</td>
        <td scope="col">Ville</td>
        <td scope="col">Code Postal</td>
        <td scope="col"></td>
        <td scope="col"></td>
      </tr>
    </thead>
    <tbody>
      <tr class="brd-top-1" *ngFor="let user of users | filter : filter">
        <td class="align-middle">{{ user.first_name }}</td>
        <td class="align-middle">{{ user.last_name }}</td>
        <td class="align-middle">{{ user.email }}</td>
        <td class="align-middle">{{ user.city }}</td>
        <td class="align-middle">{{ user.zipCode }}</td>
        <td class="align-middle">
          <button class="btn-2" (click)="gererUser(user)">Gérer</button>
        </td>
        <td class="align-middle">
          <button class="btn-3 px-2" (click)="deleteUser(user.email)">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
            </svg>
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="w-50 mx-auto  text-align-center p-5 mt-5" *ngIf="confirmationDeleteForm" >
  <p class="">voulez vous vraiment supprimer cet utilisateur</p>
  <div class="">
    <button class ="btn-2 px-2 mr-2" (click)="confirmDeleteUser()">Supprimer</button>
    <button class ="btn-1 px-2" (click)="cancel()">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
      </svg>
      Annuler
    </button>
  </div>
</div> -->

<!-- <div class="w-50 mx-auto  text-align-center p-5 mt-5 bg-clr-2" *ngIf="confirmationDeleteMsg" >
  <p class="clr-1">L'utilisateur a bien été supprimer</p>
  <div class="">
    <button class ="btn-4 px-4 mr-2" (click)="cancel()"><svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
    </svg>
    ok
  </button>
  </div>
</div> -->


<div class="col-12 col-lg-7 no-gutters my-5" *ngIf="updateUserForm">
  <p class="ml-4" (click)="backToListUsers()" >Revenir à la liste des users<p>
  <form class= "w mx-auto mb-5" (ngSubmit)="onSubmitEmail(fEmail)" #fEmail='ngForm'>
    <p class="t-1">Modifier l'email</p>
    <input type="email" class="w-100 mb-3" id="email" name="email" placeholder="Nouvelle adresse mail" aria-describedby="emailHelp" [ngModel]="user.email" required>
    <button type="submit" class="btn-2" [disabled]="fEmail.invalid">Valider</button>
  </form>

  <form class= "w mx-auto mt-5" (ngSubmit)="onSubmitPassword(fPassword)" #fPassword='ngForm'>
    <p class="t-1">Modifier le mot de passe</p>
    <input type="password" class="w-100 mb-3" id="newPassword" name ="newPassword" placeholder="Nouveau mot de passe" ngModel required>
    <input type="password" class="w-100 mb-3" id="confNewPassword" name ="confNewPassword" placeholder="Confirmation du nouveau mot de passe" ngModel required>
    <p class="" *ngIf="passwordIncorrect">Email ou mot de passe incorrect !  </p>
    <p class="" *ngIf="passwordNotIdenticals">Email ou mot de passe incorrect !  </p>
    <button type="submit" class="btn-2 mb-5" [disabled]="fPassword.invalid">Valider</button>
  </form>
  <form class="w mx-auto" (ngSubmit)="onSubmitInfos(fInfos)" #fInfos='ngForm'>
    <p class="t-1">Modifier les informations générales</p>
    <select class="w-100 mb-3" name="gender" required [ngModel]="user.gender">
      <option value="Mr">Monsieur</option>
      <option value="Mme">Madame</option>
    </select>
    <input type="text" class="w-100 mb-3" id="lastName" name="lastName" placeholder ="Nom *"  required [ngModel]="user.last_name">
    <input type="text" class="w-100 mb-3" id="firstName" name="firstName" placeholder ="Prénom *" required [ngModel]="user.first_name">
    <input type="text" class="w-100 mb-3" id="phone" name="phone" placeholder="Téléphone" required [ngModel]="user.phone">
    <input type="text" class="w-100 mb-3" id="address" name="address" aria-describedby="addressHelp" placeholder ="Adresse *" required [ngModel]="user.address">
    <div class="row no-gutters mb-3">
      <div class="col g-1">
        <input id="zip" type="text" class="w-100" name="zip" placeholder ="Code postale *" required [ngModel]="user.zipCode">
      </div>
      <div class="col g-1">
        <input id="city" type="text" class="w-100" name="city" placeholder ="Ville *" required [ngModel]="user.city">
      </div>
    </div>
    <button type="submit" class="btn-2 mb-4" >Enregister les modifications</button>
  </form>
</div>

<!-- <div class="bg-clr-2 w-50 mx-auto  text-align-center p-5 mt-5" *ngIf="confirmationUpdateUserMsg" >
  <p class="clr-1">L'utilisateur a bien été mis à jour</p>
  <div class="clr-1">
    <button class ="btn-4 px-4 mr-2" (click)="backToListUsers()"><svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
    </svg>
    ok
  </button>
  </div>
</div> -->
