.w{
  width: 45%;
}
.h{
  height: 52vh;
}
@media (max-width: 960px){
  .w{
    width: 55%;
  }
}

@media (max-width: 720px){
  .w{
    width: 75%;
  }
}

@media (max-width: 540px){
  .w{
    width: 90%;
  }
}
form{
  margin-top:80px;
  text-align: center;
}
.t-1{
  margin-bottom: 25px;
}
input{
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-2{
  margin-bottom: 30px;
  padding: 5px 20px 5px 20px;
}
