<app-header-admin></app-header-admin>
<div class="row no-gutters brd-top-1 brd-btm-1">
  <div class="d-md-block d-none col-md-3 col-lg-3">
    <app-sidebar-admin></app-sidebar-admin>
  </div>
  <div class="col-12 col-md-9 col-lg-9 no-gutters">
    <div class="p-5 brd-btm-1 brd-btm-1">
      <div class="t-1 mb-5">
        Statistique du jeu concours
      </div>
      <div class="pa-1 mb-3" *ngIf="users$ | async as users">
        Nombre des utilisateurs inscrits : <span class = "font-weight-bold font-italic"> {{users.length}}  utilisateurs</span>
      </div>
      <button class="btn-2">Telecharger l’emailing list</button>
    </div>
    <div class="p-5">
      <div class="t-1 mb-3">
        Stats par magasin
      </div>
      <div class="row">
        <div class="col-12 col-lg-5">
          <select class="mt-3">
            <option value="">Tous</option>
            <option value="">Paris</option>
            <option value="">Nice</option>
            <option value="">Marseille</option>
            <option value="">Bordeaux</option>
            <option value="">Lille</option>
          </select>
        </div>
        <div class="col-12 col-lg-7 ">
          <div class="d-flex mb-2">
            <div class="align-self-center">
              <div class="Rectangle-1 mr-2"></div>
            </div>
              <span class="pa-1">
                Gains retirés (20%)
              </span>
          </div>
          <div class="d-flex mb-2">
            <div class="align-self-center">
              <div class="Rectangle-2 mr-2"></div>
            </div>
              <span class="pa-1">
                En attente de retrait (30%)
              </span>
          </div>
          <div class="d-flex mb-2">
            <div class="align-self-center">
              <div class="Rectangle-3 mr-2"></div>
            </div>
              <span class="pa-1">
                En stock (50%)
              </span>
          </div>
        </div>
        <div id="chartContainer" style="height: 50px; width: 50%;"></div>


      </div>
      <div class="table-responsive-lg">
        <table class="table align-middle  pa-1 mt-5" *ngIf="stats$ | async as stats">
          <thead>
            <tr class="table-borderless">
              <th class="produit align-middle" scope="col">Produit</th>
              <th class="others  align-middle" scope="col">Total</th>
              <th class="others align-middle" scope="col">Gagnés</th>
              <th class="others align-middle" scope="col">Gain récupéré</th>
              <th class="others align-middle" scope="col">En Attente de retrait</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let stat of stats">
              <th class="align-middle"  scope="row">{{stat.gain}}</th>
              <td class="align-middle" >{{statCount(stat.gain)}}</td>
              <td class="align-middle" >{{statCount(stat.gain)-stat.remaining}}</td>
              <td class="align-middle" >{{statWin(stat.gain)}}</td>
              <td class="align-middle" >{{statCount(stat.gain)-stat.remaining-statWin(stat.gain)}}</td>
            </tr>
            <!-- <tr>
              <th scope="row">Infuseur à thé</th>
              <td>900 000</td>
              <td>500 000</td>
              <td>500 000</td>
              <td>500 000</td>
            </tr>
            <tr>
              <th scope="row">une boite de 100g d’un thé détox ou d’infusion</th>
              <td>300 000</td>
              <td>500 000</td>
              <td>500 000</td>
              <td>500 000</td>
            </tr>
            <tr>
              <th scope="row">une boite de 100g d’un thé signature</th>
              <td>150 000</td>
              <td>500 000</td>
              <td>500 000</td>
              <td>500 000</td>
            </tr>
            <tr>
              <th scope="row">un coffret découverte d’une valeur de 39€</th>
              <td>90 000</td>
              <td>500 000</td>
              <td>500 000</td>
              <td>500 000</td>
            </tr>
            <tr>
              <th scope="row">un coffret découverte d’une valeur de 69€</th>
              <td>60 000</td>
              <td>500 000</td>
              <td>500 000</td>
              <td>500 000</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
