select{
  width: 270px;
}

.Rectangle-1 {
  width: 17px;
  height: 17px;
  background-color: #243b37;
}

.Rectangle-2 {
  width: 17px;
  height: 17px;
  background-color: #f1e3b8;
}

.Rectangle-3 {
  width: 17px;
  height: 17px;
  background-color: #a73504;
}

.produit {
  width: 200px;
}

.others{
  width: 100px;
}
