<form [formGroup]="form" (ngSubmit)="submit()"  class="w mx-auto">
  <p class="t-1">Se connecter</p>
  <div class="d-flex" *ngIf="error">
    <img class="icon mr-2" src="../assets/img/exclamation.png" alt="">
    <p class="pa-3" >{{errorBody}}</p>
  </div>
  <p class="pa-1">Connectez-vous pour connaître vos gains ou voir la liste de ce que vous avez déjà remporté. </p>

  <div class="mb-3">
      <input
          formControlName="cEmail"
          class="w-100"
          id="cEmail"
          type="text"
          placeholder="Email"
          [ngClass]="{'invalid-input' : f.cEmail.touched && f.cEmail.invalid}">
      <div *ngIf="f.cEmail.touched && f.cEmail.invalid" class="pa-3 mt-1 ml-3">
          <div *ngIf="f.cEmail.errors.required">L'email est obligatoire</div>
          <div *ngIf="f.cEmail.errors.email">Veuillez rentrer une adresse email valide</div>
      </div>
  </div>
  <div class="mb-3">
      <input
          formControlName="cPassword"
          id="cPassword"
          class="w-100"
          type="password"
          placeholder="Mot de passe"
          [ngClass]="{'invalid-input' : f.cPassword.touched && f.cPassword.invalid }">
      <div *ngIf="f.cPassword.touched && f.cPassword.invalid" class="pa-3 mt-1 ml-3">
          <div *ngIf="f.cPassword.errors.required">Le mot de passe est obligatoire</div>
          <div *ngIf="f.cPassword.errors.minlength">Le mot de passe doit contenir au minimum 8 caractères</div>
      </div>
  </div>

  <div class="d-flex w-100">
    <a class="ml-auto nav-link text-dark underline-hover mb-4" href="password_forgotten" >Mot de passe oublié ?</a>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn-2">Me connecter</button>
</form>
