
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Front-primary: mat-palette($mat-indigo);
$Front-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Front-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Front-theme: mat-light-theme((
  color: (
    primary: $Front-primary,
    accent: $Front-accent,
    warn: $Front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Front-theme);

$clr-1 : #fffff3 ;
$clr-2 : #1c2c2a;
$red : #943c27;


.body{
  background-color : $clr-1 ;
  font-family: 'Shippori Mincho B1', serif;
}

.btn {
  height: 200px;
}

.bg-clr-1{
    background-color : $clr-1 ;
}

.clr-1{
    color : $clr-1 ;
}

.bg-clr-2{
    background-color : $clr-2 ;
}

.clr-2{
    color : $clr-2 ;
}

.brd{
  border : solid 1px $clr-2;
}

.brd-red{
  border : solid 1px $red;
}

.brd-top-1 {
  border-top :solid 1px $clr-2 ;
}

.brd-top-2 {
  border-top :solid 2px $clr-2 ;
}

.brd-btm-1 {
  border-bottom :solid 1px $clr-2 ;
}

.brd-btm-2 {
  border-bottom :solid 2px $clr-2 ;
}

.brd-right-1 {
  border-right :solid 1px $clr-2 ;
}

.brd-right-2 {
  border-right :solid 2px $clr-2 ;
}

.brd-left-1 {
  border-left :solid 1px $clr-2 ;
}

.brd-left-2 {
  border-left :solid 2px $clr-2 ;
}


select, input, textarea{
  height: 42px;
  border: solid 1px $clr-2;
  background-color: $clr-1 ;
  padding: 0 1vw 0 1vw;
}
textarea {
  height: 200px;
}
select:invalid { color: gray; }

.invalid-input{
  border: solid 1px $red;
}

.invalid-input::placeholder {
  color: $red;
  opacity: 1; /* Firefox */
}

.invalid-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: $red;
}

.invalid-input::-ms-input-placeholder { /* Microsoft Edge */
 color: $red;
}


.checkbox{
  width: 16px;
  height: 16px;
}

.btn-1{
  all: unset;
  padding :10px;
  position: relative;
}

.btn-1:hover rect {
    stroke-width: 4;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

}
.btn-1 rect {
    fill: none;
    stroke: $clr-2;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
.btn-1 svg{
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-3{
  all: unset;
  color : $red;
  padding :10px;
  position: relative;
}

.btn-3:hover rect {
    stroke-width: 4;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

}
.btn-3 rect {
    fill: none;
    stroke: $red;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
.btn-3 svg{
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-2{
  all: unset;
  background-color: $clr-2;
  color : $clr-1 ;
  padding: 10px;
  text-align: center;
}

.btn-2 :disabled,
.btn-2[disabled] {
  opacity:0.6;
}

.btn-4{
  all: unset;
  color : $clr-1;
  padding :10px;
  position: relative;
}

.btn-4:hover rect {
    stroke-width: 4;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

}
.btn-4 rect {
    fill: none;
    stroke: $clr-1;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
.btn-4 svg{
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-red-2{
  all: unset;
  background-color: $red;
  color : #fffff3 ;
  padding: 10px;
  text-align: center;
}

a{
  all: unset;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

.a-1{
  color: $clr-2;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0.3vw;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  overflow: hidden;
  cursor: pointer;

}
.a-1:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $clr-2;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.a-1:hover:before{
  left: 0;
  right: 0;
}

.a-1:hover{
  color: $clr-2;
}

.a-2{
  color : $clr-1;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0.3vw;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  overflow: hidden;
  cursor: pointer;

}
.a-2:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $clr-1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.a-2:hover:before{
  left: 0;
  right: 0;
}

.a-2:hover{
  color: $clr-1;
}

.t-1 {
  color: $clr-2;
  font-size: clamp(1.4rem, 3vw, 1.9rem);

}

.t-2 {
  color: $clr-2;
  font-size: clamp(1.2rem, 1.7vw, 1.4rem);

}

.pa-1{
  color: $clr-2;
  font-size: 1.1vw;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
}

.pa-2{
  color: $clr-2;
  font-size: clamp(0.75rem, 0.8vw, 1.2rem);
  opacity: 0.7;
}

.pa-3 {
  font-size: 0.8vw;
  font-size: clamp(0.75rem, 0.8vw, 1.2rem);
  color :$red ;
  opacity: 0.7;
}

.icon{
  width: 21px;
  height : 21px;
}

.g-1 {
  margin-right: 2px;
  margin-left: 2px;

  > .col,
  > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.text-align-center{
  text-align: center;
}
.cursor-pointer{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
