<div class="landing">
  <app-header></app-header>
  <div class="section-hero d-flex flex-column justify-content-center align-items-center">
    <img src="../../assets/img/logo-blanc.png" class="1000" width="136" height="163" data-effectJs="fade-down">
    <h1 class="text-white mb-3 mt-4 1000" data-effectJs="fade-up">Grand jeu concours</h1>
    <p class="text-center mb-3 1000" data-effectJs="zoom-in">pour l'ouverture de notre <br> 10ème boutique</p>
    <a href="#" class="call-to-action grow-shadow-hover 1000" data-effectJs="zoom-in">Je participe</a>
  </div>
  <div class="container">
    <div id="concours" class="section1 row pt-5 align-items-center">
      <div  class="col-lg-6 1000" data-effectJs="zoom-out-left">
        <h1 class="section1-h1 display-4 font-weight-bold">Concours<br>100% gagnat</h1>
      </div>
      <div class="col-lg-6 1000" data-effectJs="zoom-in-right">
        <p class="mb-5">A l’occasion de l’ouverture de notre 10ème boutique, nous organisons un concours 100% gagnant. Remportez un lot d’une valeur minimum de 15€ à partir de 49€ d’achat dans nos boutiques ou sur notre boutique en ligne. À l’issue du jeu-concours, un tirage au sort sera effectué parmi tous les participants afin de déterminer le gagnant
          d’un an de thé d’une valeur de 360€.</p>
          <a href="#" class="section1-call-to-action offset-border-effect">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
            </svg>
            Je participe
          </a>
        </div>
      </div>
      <div  class="section2 row flex-column">
        <div class="hidden" id="gains"></div>
        <div   class="section2-title text-center pt-4 pb-4 1000" data-effectJs="slide-up">
          <h2 class="font-weight-bold">Les gains</h2>
        </div>
        <div class="section2-card-container">
          <div class="row px-3">
            <div class="col-lg-4 col-md-6 p-4 parent-for-scale-hover 1000" style="margin:-1px;" data-effectJs="fade-up-left">
              <div class="card overflow-hidden">
                <img src="../../assets/img/infuseur.png" class="card-img-top scale-hover" alt="...">
                <div class="card-body">
                  <p>valeur de gain 15€</p>
                  <h5 class="card-title">L'infuseur</h5>
                  <p class="card-text">Un filtre à thé en acier, idéal pour infuser son thé dans une grande tasse.</p>
                  <a href="#" class="a-1">Voir le produit</a>
                </div>
              </div>
            </div>
            <span class="horizontal-separator-line"></span>
            <div class="col-lg-4 col-md-6 p-4 parent-for-scale-hover 1000" style="margin:-1px;" data-effectJs="fade-up-right">
              <div class="card overflow-hidden">
                <img src="../../assets/img/the-1.png" class="card-img-top scale-hover" alt="...">
                <div class="card-body">
                  <p>valeur de gain 15€</p>
                  <h5 class="card-title">une boite de 100g d’un thé détox ou d’infusion</h5>
                  <p class="card-text">Un filtre à thé en acier, idéal pour infuser son thé dans une grande tasse.</p>
                  <a href="#" class="a-1">Voir le produit</a>
                </div>
              </div>
            </div>
            <span class="horizontal-separator-line"></span>
            <div class="col-lg-4 col-md-6 p-4 parent-for-scale-hover 1000" style="margin:-1px;" data-effectJs="zoom-out-up">
              <div class="card overflow-hidden">
                <img src="../../assets/img/the-2.png" class="card-img-top scale-hover" alt="...">
                <div class="card-body">
                  <p>valeur de gain 15€</p>
                  <h5 class="card-title">une boite de 100g d’un thé signature</h5>
                  <p class="card-text">Un filtre à thé en acier, idéal pour infuser son thé dans une grande tasse.</p>
                  <a href="#" class="a-1">Voir le produit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-separator-line"></div>
          <div class="row px-3">
            <div class="col-lg-6 p-4 parent-for-scale-hover" style="margin:-1px;">
              <div class="card overflow-hidden">
                <img src="../../assets/img/coffret-1.png" class="card-img-top scale-hover" alt="...">
                <div class="card-body">
                  <p>Valeur du gain 39€</p>
                  <h5 class="card-title">Coffret découverte Sakura</h5>
                  <p class="card-text">Découvrez nos deux thés signature aux fleurs de cerisier, réunis dans un seul coffret.</p>
                  <a href="#" class="a-1">Voir le produit</a>
                </div>
              </div>
            </div>
            <span class="horizontal-separator-line"></span>
            <div class="col-lg-6 p-4 parent-for-scale-hover" style="margin:-1px; ">
              <div class="card overflow-hidden">
                <img src="../../assets/img/coffret-2.png" class="card-img-top scale-hover" alt="...">
                <div class="card-body">
                  <p>Valeur du gain 69€</p>
                  <h5 class="card-title">Coffret découverte Signatures</h5>
                  <p class="card-text">Toutes les saveurs de nos thés signatures réunies en un seul coffret découverte. </p>
                  <a href="#" class="a-1">Voir le produit</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="section3">
        <div class="row position-relative">
          <div class="col-lg-6 p-0 ">
            <img src="../../assets/img/visu-banner.png" style="width: 100%; height: 100%;">
          </div>
          <div class="col-lg-6 section3-div2 p-5">
            <h2 class="display-4 text-white mb-1">Un an de thé<br> d’une valeur<br> de 360€ à la clé</h2>
            <p class="text-white mb-4">À l’issue du jeu-concours, un tirage au sort<br> sera effectué parmi tous les participants<br> afin de déterminer le gagnant </p>
            <a href="" class="section3-call-to-action">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
              </svg>
              Je participe
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
