<app-header-admin></app-header-admin>
<div class="row no-gutters brd-top-1 brd-btm-1">
  <div class="d-md-block d-none col-md-3 col-lg-3">
    <app-sidebar-admin></app-sidebar-admin>
  </div>
  <div class="px-5 py-3">
    <form class= "mr-auto" (ngSubmit)="submit()" #f='ngForm'>
        <div class="t-1 mb-4">Emailing</div>
        <p class="pa-1 mb-5">
          Vous pouvez rédiger un mail et l'envoyer à tous les utilisateurs qui sont inscrits à la newsletter.
        </p>
        <input type="password" class="w-100 mb-4" id="password" name ="password" placeholder="Objet" ngModel required>
        <textarea rows="8" class="w-100 mb-5" ngModel required></textarea>
        <div class="d-flex mb-5">
          <button type="submit" class="btn-2 mx-auto" [disabled]="f.invalid">Envoyer</button>
        </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
