<app-header></app-header>
<div class="container-fluid mx-auto text-center m-5 brd-top-1">
  <br><br><br>
  <div class="t-1">
    Coffret découverte Signatures
  </div>
  <br><br><br>
  <div class="t-2">
    Coffret découverte Signatures
  </div><br>

  <div class="pa-1">
    Coffret découverte Signatures
  </div><br>
  <div class="pa-2">
    Coffret découverte Signatures
  </div><br>
  <div class="pa-3">
    Coffret découverte Signatures
  </div><br>
  <a class="a-1">
    Coffret découverte Signatures
  </a>
  <br><br>
  <div class="bg-clr-2 p-5">
    <a class="a-2 ">
      Coffret découverte Signatures
    </a>
  </div>
  <br>
  <button mat-button (click)="openDialogDelete()" class="btn-3">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
    </svg>
    Supprimer
  </button>
  <br><br>
  <button class="btn-1">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
    </svg>
    Valider
  </button>
  <br><br>
  <button class="btn-2">
    Valider
  </button>
  <br><br>
  <div class="bg-clr-2 p-5">
    <button class="btn-4" mat-button (click)="openDialog()">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
      </svg>
      Pop up
    </button>
  </div>

  <br><br>
  <select required>
    <option value="" disabled selected hidden>Genre*</option>
    <option value="Madame">Madame</option>
    <option value="Monisueur">Monsieur</option>
  </select>
  <br><br>
  <input placeholder="Email">
  <br><br>
  <input class="invalid-input" placeholder="Email">
</div>

<br><br>
