<nav class="navbar navbar-expand-md p-4 navbar-light">
  <div class="container">
    <a class="navbar-brand" href="">
      <img class="img-fluid" src="assets/img/logo-noir.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item ml-2 d-none d-md-block ">
          <a class="a-1" href="client_home">Accueil</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link text-white pt-0 e-shop-button" href="#">
            <i class="bi bi-bag-fill fs-5" style="font-size:25px;"></i>
            E-Shop
          </a>
        </li>
        <li class="nav-item ml-2 d-md-none">
          <a class="nav-link text-dark underline-hover" href="client_home">Accueil</a>
        </li>
        <li class="nav-item ml-2 d-md-none">
          <a class="nav-link text-dark underline-hover" href="client_home">Mon profil</a>
        </li>
        <li class="nav-item ml-2 d-md-none">
          <a class="nav-link text-dark underline-hover" (click)="seDeconnecter()" >Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
