<div class="sidebar brd-right-1">
  <div class="brd-btm-1 d-flex">
    <a class="my-auto nav-link text-dark ml-2" routerLink="/admin">Voir les statistique</a>
  </div>
  <!-- <div class="brd-btm-1 d-flex">
    <a class="my-auto nav-link text-dark ml-2" routerLink="/admin_new_emp">Créer un compte employé</a>
  </div> -->
  <div class="brd-btm-1 d-flex">
    <a class="my-auto nav-link text-dark ml-2" routerLink="/admin_list_emp">Gérer les comptes employés</a>
  </div>
  <div class="brd-btm-1 d-flex">
    <a class="my-auto nav-link text-dark ml-2" routerLink="/admin_list_users">Gérer les comptes utilisateurs</a>
  </div>
  <!-- <div class="brd-btm-1 d-flex">
    <a class="my-auto nav-link text-dark ml-2" routerLink="/admin_emailing">Emailing</a>
  </div> -->
  <div class="d-flex">
    <a class="my-auto nav-link text-dark cursor-pointer ml-2" (click)="seDeconnecter()">Déconnexion</a>
  </div>
</div>
