<app-header></app-header>
<div class="brd-top-1 brd-btm-1 p-5">

  <form class= "w mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="t-1 mb-4">Validation de la création de votre compte</p>
      <p class="pa-1 mb-4">Veuillez renseigner le code que vous avez reçu par mail pour finaliser la création de votre compte</p>
      <!-- <input type="text" class="w-75" name="token" ngModel required> -->
      <div class="mb-4">
          <input
              formControlName="token"
              id="token"
              class="w-100"
              type="text"
              [ngClass]="{'invalid-input' : f.token.touched && f.token.invalid }">
          <div *ngIf="f.token.touched && f.token.invalid" class="pa-3 mt-1 ml-2 text-left">
              <div *ngIf="f.token.errors.required">Ce champs est obligatoire</div>
          </div>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn-2 mx-auto" [disabled]="form.invalid">Valider</button>
      </div>
  </form>
</div>

<app-footer></app-footer>
