<app-header></app-header>
<div class="brd-top-1 brd-btm-1 p-5">
  <form class= "w mx-auto" [formGroup]="form" (ngSubmit)="submit()">
    <p class="t-1 mb-5">Mot de passe oublié</p>
    <p class="pa-1 mb-4">Saisir l'adresse email associée à votre compte.
      Nous vous enverrons un lien par email pour réinitialiser
      votre mot de passe.</p>
      <div class="mb-4">
          <input
              formControlName="email"
              class="w-100 mb-1"
              id="email"
              type="text"
              placeholder="Email"
              [ngClass]="{'invalid-input' : f.email.touched && f.email.invalid}">
          <div *ngIf="f.email.touched && f.email.invalid" class="pa-3 mt-1 ml-2 text-left">
              <div *ngIf="f.email.errors.required">L'email est obligatoire</div>
              <div *ngIf="f.email.errors.email">Veuillez rentrer une adresse email valide</div>
          </div>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn-2 mx-auto" [disabled]="form.invalid">Valider</button>
      </div>
  </form>
</div>
<app-footer></app-footer>
