.box-img {
  max-width: 200px;

}

img {
  width: 136px;
  height: 136px;
}

.img {
  width: 136px;
}

.produit{
  width: 250px;
}
.pa-1{
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1c2c2a;
}
