.w{
  width: 65%;
}
@media (max-width: 960px){
  .w{
    width: 55%;
  }
}

@media (max-width: 720px){
  .w{
    width: 75%;
  }
}

@media (max-width: 540px){
  .w{
    width: 90%;
  }
}

form {
  margin-top: 60px;
  margin-bottom: 40px;
}

a-1{
  margin-bottom: 17px;
}

.red {
  width: 307px;
  height: 64px;
  margin-left: 85px;
  margin-bottom: 0;
  color :#943c27 ;
}

.bi{
  font-size: 1.5em;
  padding : 4px 10px 8px 10px;
  margin-bottom: 4px;
}
.bi-facebook{
  color: #3b5998;
}
.bi-google{
  color: #FF0E34;
}

.btn-large{
    width: 230px;
}
