<app-header></app-header>

<div class="my-3 p-5 brd-btm-1 brd-top-1">
  <a class="mt-4 mb-5" href="/landing">Landing Page</a><br>
  <a class="mt-4 mb-5" href="/register">S'inscrir/login</a><br>
  <a class="mb-5" href="/validation">validation de compte </a><br>
  <a class="mb-5" href="/password_forgotten">mot de passe oublier </a><br>
  <a class="mb-5" href="/reinit_password/token">réinitialisation mot de passe</a><br>
  <a class="mb-5" href="/client_infos_profil">page profil client</a><br>
  <a class="mb-5" href="/client_home">page d'accueil client</a><br>
  <a class="mb-5" href="/emp_home">page d'accueil employé</a><br>
  <a class="mb-5" href="/emp_stats">employé : page de stats</a><br>
  <a class="mb-5" href="/emp_login">login employé</a><br>
  <a class="mb-5" href="/admin_login">login admin</a><br>
  <a class="mb-5" href="/admin_home">admin home : contient les stats</a><br>
  <a class="mb-5" href="/admin_new_emp">admin : créer un nouveau profil employé</a><br>
  <a class="mb-5" href="/admin_modify_emp/id_employe">admin : modifier un profil employé</a><br>
  <a class="mb-5" href="/admin_list_emp">admin : liste des emplyés</a><br>
</div>

<app-footer></app-footer>
