<app-header></app-header>
<div class="brd-top-1 brd-btm-1">
  <!-- <form class= "w mx-auto" (ngSubmit)="onSubmit(f)" #f='ngForm'>
      <p class="t-1 mb-4">Se connecter</p>
      <div class="d-flex" *ngIf="incorrect">
        <p class="pa-3" >L’adresse email et/ou le mot de passe
          sont incorrects, veuillez-les corriger ou créer un compte.  </p>
      </div>
      <p class="pa-1">Saisir l'identifiant et le mot de passe pour accéder à votre espace admin</p>
      <input type="id" class="w-100 mb-4" id="id" name ="email" placeholder="Email" ngModel required>
      <input type="password" class="w-100 mb-4" id="password" name ="password" placeholder="Mot de passe" ngModel required>
      <div class="d-flex mb-4">
        <div class="a-1 cursor-pointer" routerLink="/password_forgotten">Mot de passe oublié ?</div>
      </div>
      <button type="submit" class="btn-2 mb-5" [disabled]="f.invalid">Valider</button>
  </form> -->
  <form [formGroup]="form" (ngSubmit)="submit()"  class="w mx-auto">
    <p class="t-1 mb-4">Se connecter</p>
    <div class="d-flex" *ngIf="error">
      <img class="icon mr-2" src="../assets/img/exclamation.png" alt="">
      <p class="pa-3" >{{errorBody}}</p>
    </div>

    <div class="mb-4">
        <input
            formControlName="email"
            class="w-100"
            id="email"
            type="text"
            placeholder="Email"
            [ngClass]="{'invalid-input' : f.email.touched && f.email.invalid}">
        <div *ngIf="f.email.touched && f.email.invalid" class="pa-3 mt-1 ml-3">
            <div *ngIf="f.email.errors.required">L'email est obligatoire</div>
            <div *ngIf="f.email.errors.email">Veuillez rentrer une adresse email valide</div>
        </div>
    </div>
    <div class="mb-4">
        <input
            formControlName="password"
            id="password"
            class="w-100"
            type="password"
            placeholder="Mot de passe"
            [ngClass]="{'invalid-input' : f.password.touched && f.password.invalid }">
        <div *ngIf="f.password.touched && f.password.invalid" class="pa-3 mt-1 ml-3">
            <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
            <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au minimum 8 caractères</div>
        </div>
    </div>

    <div class="d-flex w-100">
      <a class="ml-auto nav-link text-dark underline-hover mb-4" href="password_forgotten" >Mot de passe oublié ?</a>
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn-2 mb-5">Me connecter</button>
  </form>
</div>
<app-footer></app-footer>
