<div class="filter mt-4 ml-5 mb-5" *ngIf="listEmployes">
  <div class="row">
    <div class="col-lg-6 col-12">
      <span class="pa-1 mb-4 mr-3">Filtrer les utilisateurs : </span>
      <input class ="col-5" type="text" name="filter" value="" placeholder="serach" [(ngModel)]="filter">
    </div>
    <div class="d-lg-block">
      <span class="pa-1 mb-4 mr-3">Nouveau employé : </span>
      <button class="btn-2" type="button" name="button" routerLink="/admin_new_emp">Ajouter</button>
    </div>
  </div>
</div>
<div class="mt-5 ml-5" *ngIf="listEmployes">
  Voici la liste des utilisateurs qui correspondent à votre recherche :
  <table class="table mt-4 w table-borderless table-responsive-lg" *ngIf="employes$ | async as employes" >
    <thead class="bg-clr-2 clr-1">
      <tr>
        <td scope="col">Prénom</td>
        <td scope="col">Nom</td>
        <td scope="col">Email</td>
        <td scope="col">magasin</td>
        <td scope="col"></td>
        <td scope="col"></td>
      </tr>
    </thead>
    <tbody>
      <tr class="brd-top-1" *ngFor="let employe of employes | filter : filter">
        <td class="align-middle">{{ employe.prenom }}</td>
        <td class="align-middle">{{ employe.nom }}</td>
        <td class="align-middle">{{ employe.email }}</td>
        <td class="align-middle">{{ employe.magasin }}</td>
        <td class="align-middle">
          <button class="btn-2" (click)="gererEmploye(employe)">Gérer</button>
        </td>
        <td class="align-middle">
          <button class="btn-3 px-2" (click)="deleteEmploye(employe.email)">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
            </svg>
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <app-re-connect *ngIf="!employes"></app-re-connect> -->

</div>

<!-- <div class="w-50 mx-auto  text-align-center p-5 mt-5" *ngIf="confirmationDeleteForm" >
  <p class="">voulez vous vraiment supprimer cet utilisateur</p>
  <div class="">
    <button class ="btn-2 px-2 mr-2" (click)="confirmDeleteEmploye()">Supprimer</button>
    <button class ="btn-1 px-2" (click)="cancel()">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
      </svg>
      Annuler
    </button>
  </div>
</div> -->

<!-- <div class="w-50 mx-auto  text-align-center p-5 mt-5 bg-clr-2" *ngIf="confirmationDeleteMsg" >
  <p class="clr-1">L'utilisateur a bien été supprimer</p>
  <div class="">
    <button class ="btn-4 px-4 mr-2" (click)="cancel()">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
      </svg>
      ok
    </button>
  </div>
</div> -->


<div class="col-12 col-lg-7 no-gutters my-5" *ngIf="updateEmployeForm">
  <p class="ml-4" (click)="backToListEmployes()" >Revenir à la liste des employes<p>
  <form class= "w mx-auto mb-5" (ngSubmit)="onSubmitEmail(fEmail)" #fEmail='ngForm'>
    <p class="t-1">Modifier l'email</p>
    <input type="email" class="w-100 mb-3" id="email" name="email" placeholder="Nouvelle adresse mail" aria-describedby="emailHelp" [ngModel]="employe.email" required>
    <button type="submit" class="btn-2" [disabled]="fEmail.invalid">Valider</button>
  </form>

  <form class= "w mx-auto mt-5" (ngSubmit)="onSubmitPassword(fPassword)" #fPassword='ngForm'>
    <p class="t-1">Modifier le mot de passe</p>
    <input type="password" class="w-100 mb-3" id="newPassword" name ="newPassword" placeholder="Nouveau mot de passe" ngModel required>
    <input type="password" class="w-100 mb-3" id="confNewPassword" name ="confNewPassword" placeholder="Confirmation du nouveau mot de passe" ngModel required>
    <p class="" *ngIf="passwordIncorrect">Email ou mot de passe incorrect !  </p>
    <p class="" *ngIf="passwordNotIdenticals">Email ou mot de passe incorrect !  </p>
    <button type="submit" class="btn-2 mb-5" [disabled]="fPassword.invalid">Valider</button>
  </form>
  <form class="w mx-auto" (ngSubmit)="onSubmitInfos(fInfos)" #fInfos='ngForm'>
    <p class="t-1">Modifier les informations générales</p>
    <label for="nom">Nom</label>
    <input type="text" class="w-100 mb-3" id="nom" name="nom" placeholder ="Nom *"  required [ngModel]="employe.nom">
    <label for="prenom">Prénom</label>
    <input type="text" class="w-100 mb-3" id="prenom" name="prenom" placeholder ="Prénom *" required [ngModel]="employe.prenom">
    <label for="magasin">Magasin</label>
    <input type="text" class="w-100 mb-3" id="magasin" name="magasin" placeholder ="Adresse *" required [ngModel]="employe.magasin">
    <button type="submit" class="btn-2 mb-4" >Enregister les modifications</button>
  </form>
</div>

<!-- <div class="w-50 mx-auto  text-align-center p-5 mt-5 bg-clr-2" *ngIf="confirmationUpdateEmployeMsg" >
  <p class="clr-1">L'utilisateur a bien été mis à jour</p>
  <div class="">
    <button class ="btn-4 px-4 mr-2" (click)="backToListEmployes()">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
      </svg>
      ok
    </button>
  </div>
</div> -->
