.w{
  width: 75%;
}
@media (max-width: 960px){
  .w{
    width: 55%;
  }
  .brd-right-1{
    border: none;
  }
}

@media (max-width: 715px){
  .w{
    width: 85%;
  }
  .hdn-sidebar{
    display: none;
  }
}

@media (max-width: 540px){
  .w{
    width: 90%;
  }

}

form{
  margin-top: 40px;
}
