<!-- <app-header-admin></app-header-admin>
<div class="row brd-top-1 brd-btm-1 no-gutters">
  <div class="col-3">
    <app-sidebar-admin></app-sidebar-admin>
  </div>
  <div class="col-9 no-gutters">
    <a class="nav-link text-dark underline-hover ml-5 mt-4 px-0" href="/admin_list_user">Revenir à la liste</a>

    <p class="t-1 ml-5 mt-4 px-0">Informations générales</p>
    <form class="ml-5 w-50" (ngSubmit)="onSubmitInfos(fInfos)" #fInfos='ngForm'>
      <input type="text" class="w-100 mb-3" id="lastName" name="lastName" placeholder ="Nom *"  required [ngModel]="employe.lastName">
      <input type="text" class="w-100 mb-3" id="firstName" name="firstName" placeholder ="Prénom *" required [ngModel]="employe.firstName">
      <input type="text" class="w-100 mb-3" id="email" name="email" placeholder="Email" required [ngModel]="employe.email">
      <select class="w-100 mb-3" name="store" required [ngModel]="employe.store">
        <option value="paris">Paris</option>
        <option value="nice">Nice</option>
        <option value="nice">Nice</option>
      </select>
      <button type="submit" class="btn-2 btn-large mb-5" [disabled]="fInfos.invalid">Enregister les modifications</button>
      <!-- <button type="submit" class="btn-1 btn-small" [disabled]="fInfos.invalid">Supprimer le profil</button> -->
    <!-- </form>

    <p class="t-1 ml-5 mt-4 px-0">Mon mot de passe</p>
    <form class ="ml-5 w-50" (ngSubmit)="onSubmitPassword(fPassword)" #fPassword='ngForm'>
        <input type="password" class="w-100 mb-3" id="oldPassword" name="oldPassword" placeholder="Mot de passe actuel" aria-describedby="passwordHelp" ngModel required>
        <input type="password" class="w-100 mb-3" id="newPassword" name ="newPassword" placeholder="Nouveau mot de passe" ngModel required>
        <input type="password" class="w-100 mb-3" id="confNewPassword" name ="confNewPassword" placeholder="Confirmation du nouveau mot de passe" ngModel required>
        <p class="" *ngIf="passwordIncorrect">Email ou mot de passe incorrect !  </p>
        <p class="" *ngIf="passwordNotIdenticals">Email ou mot de passe incorrect !  </p>
      <button type="submit" class="btn-2 mb-5"  [disabled]="fPassword.invalid">Enregister</button>
    </form>
  </div>
</div>
<app-footer></app-footer> --> 
