<app-header-emp></app-header-emp>
<div class="row no-gutters brd-top-1 brd-btm-1 min-h-40">
  <div class="d-md-block d-none col-md-3 col-lg-2">
    <app-sidebar-emp></app-sidebar-emp>
  </div>
  <div class="col-12 col-md-9 col-lg-10 no-gutters p-5">
    <div class="row no-gutters">
      <div class="d-felx text-lg-left text-center" *ngIf="emp$ | async as emp">
        <p class="t-1" >Bonjour {{emp.prenom}}, bienvenue dans votre espace employé.</p>
      </div>
      <div class="d-flex w-100">
        <form class="text-lg-left text-center w-100" (ngSubmit)="onSubmitSearch(f)" #f='ngForm'>
          <p class="pa-1 text-lg-left text-center">Renseigner un code</p>
          <div class="text-lg-left text-center ">
            <input type="text" class="w-50 mr-2" id="code" name="code" aria-describedby="codeHelp" ngModel required>
            <button type="submit" class="btn-2 cursor-pointer" [disabled]="f.invalid">Valider</button>
          </div>

        </form>
      </div>
    </div>

    <div class="container-fluid no-gutters" *ngIf="ticket$ | async as ticket">
      <div class="d-lg-block d-none">
        <div class="m-5 no-gutters row">
          <div class="col-3">
            <div class="pa-1">Votre code</div>
            <div class="t-2">
              {{ticket.code}}
            </div>
          </div>
          <div class="col-4">
            <p class="pa-1 d-block ">Votre gain</p>
            <div class="d-flex">
              <img src="../assets/images/coffret-1.png" class="img">
            </div>
          </div>
          <div class="col-5 pl-5 d-flex flex-column">
            <p class=" d-block clr-1">Votre gaind</p>
            <p class = "pa-1">Valeur du gain 69€</p>
            <p class="t-1">{{ticket.gain}}</p>
            <p class= "pa-2">Toutes les saveurs de nos thés signatures réunies
              en un seul coffret découverte. </p>
            <a class="nav-link text-dark underline-hover p-0 mt-auto" href="#">Voir le produit </a>
          </div>
        </div>
      </div>

      <div class="d-block d-lg-none m-5">
        <div class="d-flex"><div class = "d-flex flex-collumn mx-auto text-align-center">Votre code : <h5>&nbsp; {{ticket.code}}</h5></div></div>
        <div class="d-flex"><p class="t-1 mx-auto text-align-center">{{ticket.gain}}</p></div>
        <div class="d-flex mb-3">
          <img src="../assets/images/coffret-1.png" class="w-75 mx-auto">
        </div>
        <div class="d-flex"><p class = "pa-1 mx-auto text-align-center">Valeur du gain 69€</p></div>
        <div class="d-flex"><p class= "pa-2 mx-auto text-align-center">Toutes les saveurs de nos thés signatures réunies
          en un seul coffret découverte. </p></div>
        <div class="d-flex"><a class="nav-link text-dark underline-hover p-0 mx-auto" href="#">Voir le produit </a></div>
      </div>
      <div class="t-2">Information utilisateur : </div>
      <table class="table able-borderless table-responsive-md">
        <tbody>
          <tr>
            <td class="text-lg-left text-center">{{ticket.User.last_name}}</td>
            <td class="text-lg-left text-center">{{ticket.User.first_name}}</td>
            <td class="text-lg-left text-center">{{ticket.User.email}}</td>
            <!-- <td class="text-lg-left text-center">{{ticket.User.address}}</td> -->
            <td class="text-lg-left text-center">{{ticket.User.city}}</td>
            <td class="text-lg-left text-center">{{ticket.User.zipCode}}</td>
            <td class="text-lg-left text-center">{{ticket.etat}}</td>
            <button class ="btn-2 mx-2" *ngIf="ticket.etat!='valide'" (click)="onAssigne(ticket.code)">Récupérer le gain</button>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="row mb-5">
      <app-list-users></app-list-users>
    </div> -->
  </div>
</div>
<app-footer></app-footer>
