<app-header></app-header>
<div class="brd-top-1 brd-btm-1">
  <form class= "w mx-auto" [formGroup]="form" (ngSubmit)="submit()">
      <p class="t-1 mb-4">Nouveau mot de passe</p>
      <p class="pa-1 mb-5">Saisir l'adresse email associée à votre compte.
                      Nous vous enverrons un lien par email pour réinitialiser
                      votre mot de passe.</p>
      <div class="mb-3">
          <input
              formControlName="password"
              id="password"
              class="w-100"
              type="password"
              placeholder="Mot de passe *"
              [ngClass]="{'invalid-input' : f.password.touched && f.password.invalid }">
          <div *ngIf="f.password.touched && f.password.invalid" class="pa-3 mt-1 ml-2 text-left">
              <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
              <div *ngIf="f.password.invalid">Le mot de passe doit contenir 8 charactères minimum : 1 lettre, 1 chiffre et 1 charactère spécial </div>
          </div>
      </div>
      <div class="mb-4">
          <input
              formControlName="confPassword"
              id="confPassword"
              class="w-100"
              type="password"
              placeholder="Confirmation du mot de passe *"
              [ngClass]="{'invalid-input' : f.confPassword.touched && f.confPassword.invalid }">
          <div *ngIf="f.confPassword.touched && f.confPassword.invalid" class="pa-3 mt-1 ml-2 text-left">
              <div *ngIf="f.confPassword.errors.required">Veuillez confirmer le mot de passe</div>
              <div *ngIf="f.confPassword.errors.mustMatch">Les deux mots de passe ne sont pas identiques</div>
          </div>
      </div>
      <div class="d-flex mb-5">
        <button type="submit" class="btn-2 mx-auto" [disabled]="form.invalid">Valider</button>
      </div>
  </form>
</div>
<app-footer></app-footer>
